.textErea{
    border: 2px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded corners */
    width: 100vm; /* Full width */
    height: 46vh; /* 65% of viewport height */
    padding: 10px; /* Padding inside the textarea */
    margin: 5px;
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    box-sizing: border-box; /* Include padding and border in width/height calculation */
    transition: border-color 0.3s; /* Smooth transition for border color */
}


.Keyboard button {
    background-color: #f5f5f5; /* Button background color */
    color: #333; /* Button text color */
    border: 1px solid #ccc; /* Button border color */
    padding: 12px 18px; /* Padding inside the button */
    margin: 5px; /* Margin outside the button */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    letter-spacing: 1px; /* Letter spacing */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Button shadow */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.Keyboard button:hover {
    background-color: #e0e0e0; /* Button background color on hover */
    border-color: #aaa; /* Button border color on hover */
}

.Keyboard{
    display: flex;
    justify-content: center;
}

.Language {
    /*background-color: aqua; /* Background color */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items from top to bottom */
    justify-content: space-evenly; /* Distribute space evenly between items */
    align-items: center; /* Center items horizontally */
    padding: 10px; /* Optional: add padding for spacing */
    /*box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.toolBar{
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items from top to bottom */
    justify-content: space-evenly; /* Distribute space evenly between items */
    align-items: center; /* Center items horizontally */
    padding: 10px;
}


.Keys{
    padding: 40px 60px; 
    border-right: solid;
    border-left: solid;
}

.keyBottom{
    display: flex;
    justify-content:center;
}



